body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.space {
    margin-bottom: 20px;
}

.black-border {    
    border: 1px solid black;
}

.section {
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
    /* height: 500px; */
    height: 450px;
    width: auto;
}

#section-percent {
    height: 65%;
}

.container {
    height: 100%;
}

.bigtext {
    font-size: 20px;
}

#theHangman {
    height: 65%;
}

#img-resize {
    /* height: 100%; */
    /* height: 22%; */
    /* height: 44%; */
    height: 100%;
    /* width: auto; */
    width: 98%;
}

#clearfix {
    overflow: auto;
}

.bg {
    background-image: url("../images/chicago-skyline.png");
    height: auto;
    background-size: cover;
    background-position: center;
}