.space {
    margin-bottom: 20px;
}

.black-border {     /* For testing purposes only */
    border: 1px solid black;
}

.section {
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
    height: 500px;
}